header{
    background-image: url(../img/pattern.png);
    background-color: #1E90FF;
    height: 175px;    
}


#logo{
    width: 300px;
    height: 300px;
    position: relative;
    top: 50%;
    left: 1%
}

#titolo{
    font-size: 55px;
    font-family: 'Roboto Slab', serif;
    margin: 0;
}


.autore{
    font-size: 20px;
    color: #979797;
    font-weight: bold;
    font-style: italic;    
}

.data{
    font-size: 20px;
    color: #979797;
    font-weight: bold;
    font-style: italic;   
}

.booleaner{
    color: #1E90FF;
}

.paragrafo{
    font-size: 17px;
    font-weight: bold;   
}

.evidenziato{
    background-color: #eaee0b;
}

.tabella{
    background-color: #1E90FF;
}

.tabella2{
    background-color: #a6dffa;
}

table{
    width: 100%;
    border-collapse: collapse;
}

.cella1{
    width: 25%;
}

.cella2{
    width: 50%;
}

#finale{
    color: #5a5b5c;
    font-size: 18px;
    font-weight: bold;
}

.ad{
    width: 311px;
    height: 220px;
}

.n1{
    background-image: url(../img/monitor.jpg);
    background-size:auto;
    background-repeat: no-repeat;    
}

.n2{
    background-image: url(../img/graph.jpg);
    background-size:auto;
    background-repeat: no-repeat;
}

.testoad{
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    padding-left: 10%;    
}